html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica Neue, Helvetica, sans-serif;
  font-size: 0.9em;
}

.messages {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 90%;
  overflow: hidden;
  overflow-y: scroll
}

.messages li {
  padding: 5px;
  border: solid 1px #ddd;
}

.messages .person {
  background-color: #ddd;
  margin: 20px;
  margin-bottom: 0px;
}

.messages .message {
  margin: 20px;
  margin-top: 0px;
}

.messagebox {
  width: 100%;
  position: absolute;
  bottom: 0px;
  padding: 5px;
  height: 10%;
}
